body {
    background-color: #cccccc;
}
textarea {
    color: #00FF00;
    background-color: #000000;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
